*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.site-header
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(57deg, green, #1e4d92);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);   /* This is used to cut the picture */
}

nav
{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
}

.logo
{
    width: 50%;
    height: 100px;
}

.logo h1
{
    line-height: 100px;   /* Make the line center in vertically */
    padding-left: 50px;
}

.menu
{
    width: 50%;
    height: 100px;
}

.menu ul
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li
{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

section
{
    display: flex;
}

.leftside
{
    width: 60%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

.leftside img
{
    width: 1000px;
    height: 500px;
}

.rightside
{
    width: 40%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding: 40px;
}

.rightside h1
{
    font-size: 50px;
    font-weight: 900;
}

.rightside p
{
    font-size: 1.1rem;
    padding: 30px 0;
}

.rightside button
{
    font-size: 17px;
    font-weight: bold;
    color: white;
    background: linear-gradient(57deg, green, #1e4d92);
    border-radius: 4px;
    padding: 20px 35px;
}

.rightside button:hover
{
    background: linear-gradient(57deg, #1e4d92, green);
}